*{
    margin: 0px;
    padding: 0px;
}
body{
    overflow-x: hidden;
}
.nav-link {
    border: none;
    background: none;
}
.home__main{
    height: 100vh;
    width: 100%;
    background-image: url("Home.svg");
    overflow-x: hidden;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}
.HomeImg{
    float:right;
    width: 400px;
    animation: animated 1.5s linear infinite alternate-reverse;
}
@keyframes animated {
    0%{ 
      transform: translateY(10px);
    }
    100%{
      transform: translateY(-10px);
    }
  }
.head{
    font-size: 28px;
    color: white;
}
.home__text {
    position: absolute;
    /* display: flex !important;
    flex-direction: column; */
    /* color: black; */

}
.regButton{
    /* width: fit-content; */
    font-size: 16px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 25px;
    padding: 0.5rem 1rem;
    text-decoration: none;
    margin-left: 0;
}
.navbar{
    background: #d33d2e;
    border: none;
    background: linear-gradient(90deg, #d33d2e 10%, rgba(0,0,0,1) 100%);
}
.logo{
    width: 100px;
    height: 100px;
  
}

a{
    text-decoration: none;
    color: white !important;

}

/* Show in Large desktops and laptops */
@media (min-width: 1200px) {

    .HomeImg {
        float:right;
        width: 400px;
        }
    
    }
    
    /*Hide in Other Small Devices */
    
    
    /* Landscape tablets and medium desktops */
    @media (min-width: 992px) and (max-width: 1199px) {
    
          .HomeImg {
            background-image: none;
        }
    
    }
    
    /* Portrait tablets and small desktops */
    

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

    .HomeImg {
        display: none;
}

}

/* Portrait phones and smaller */
@media (max-width: 480px) {

    .HomeImg {
        display: none;
}

}