.AboutUl {  
    margin: 0.75em 0;  
    padding: 0 3em;  
    list-style: none;  

}  
.desc:before {   
    content: "";  
    border-color: transparent white;  
    border-style: solid;  
    border-width: 0.35em 0 0.35em 0.45em;  
    display: block;  
    height: 0;  
    width: 0;  
    left: -1em;  
    top: 1.2em;  
    position: relative;  
} 
.desc{
    font-size: 26px;
}
.AboutImg{
    width: 500px;
}
.main{
    background: linear-gradient(90deg, rgba(0,0,0,1) 10%, #d33d2e  100%);
    color: white;
    height: 100vh;
}