.root{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.head{
    margin-top: 0.5rem;
}
.headtext{
    font-size: 35px;
    color:gray
}
.input{
    display: block;
    height:3rem;
    width:25rem;
    background-color: #2e2a2a;
    color:white;
    padding: 1rem;
}
.part{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}
.checkbox{
    color: #737373;
}
.forgot{
    color:#1b9bf0;
    cursor: pointer;
}
.button{
    background-color: #682c24;
    width:25rem;
    height: 3rem;
    border: none;
    color:black;
    font-weight: 700;
    font-size: 20px;
}
.need{
    margin-top: 1rem;
}
.ns{
    font-size: large;
}
.error{
    background-color: #FFBABA;
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
    height:2rem;
    color:#D8000C
}